# Basic Python

## 1. Split this string

In [1]:
txt = "Hi there Sam!"

In [2]:
s =txt.split()

In [3]:
print(s)

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [8]:
import numpy  as np

In [9]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [10]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all the even integers from 20 to 35

In [11]:
print(np.arange(20,36,2))

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [12]:
np.arange(0,9).reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [13]:
a = np.array([1, 2, 3])

In [14]:
b = np.array([4, 5, 6])

In [15]:

arr = np.concatenate((a,b))

In [16]:

print(arr)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [17]:
import pandas as pd

In [18]:
data = {'c1':['r0', 'r1', 'r2', 'r3'],
        'c2':[20, 21, 19, 18]}

In [19]:
df = pd.DataFrame(data)

In [20]:
print(df)

   c1  c2
0  r0  20
1  r1  21
2  r2  19
3  r3  18

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [21]:
import numpy as np

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(np.random.random((200,3)))

In [24]:
df['date'] = pd.date_range('2023-1-1', periods=200, freq='D')

In [25]:
df = df.set_index(['date'])

In [26]:
print(df.loc['2023-1-1':'2023-2-10'])

                   0         1         2
date
2023-01-01  0.808476  0.433659  0.995172
2023-01-02  0.607583  0.046693  0.623280
2023-01-03  0.501193  0.025386  0.999409
2023-01-04  0.158523  0.200981  0.258782
2023-01-05  0.270472  0.386391  0.828622
2023-01-06  0.800265  0.171915  0.132899
2023-01-07  0.217201  0.538586  0.263589
2023-01-08  0.468884  0.546887  0.673819
2023-01-09  0.753166  0.269649  0.797072
2023-01-10  0.596967  0.129731  0.108222
2023-01-11  0.461443  0.239767  0.091279
2023-01-12  0.072468  0.197958  0.459894
2023-01-13  0.488548  0.456859  0.888154
2023-01-14  0.854656  0.983657  0.377599
2023-01-15  0.918618  0.614161  0.004465
2023-01-16  0.076888  0.598912  0.754358
2023-01-17  0.774686  0.176304  0.281962
2023-01-18  0.034480  0.901113  0.465072
2023-01-19  0.919465  0.111612  0.465581
2023-01-20  0.290047  0.242302  0.220197
2023-01-21  0.584263  0.127213  0.933263
2023-01-22  0.267549  0.748122  0.347381
2023-01-23  0.992453  0.096641  0.806556
2023-01-24  0.759762  0.692923  0.890177
2023-01-25  0.287525  0.915954  0.168275
2023-01-26  0.890846  0.879795  0.396941
2023-01-27  0.591379  0.716251  0.900527
2023-01-28  0.610678  0.568571  0.565181
2023-01-29  0.651189  0.093002  0.247396
2023-01-30  0.044769  0.373268  0.642371
2023-01-31  0.988439  0.944886  0.449732
2023-02-01  0.224978  0.728694  0.906210
2023-02-02  0.804646  0.357074  0.007652
2023-02-03  0.208679  0.692831  0.056987
2023-02-04  0.595432  0.588407  0.189029
2023-02-05  0.396732  0.502276  0.676711
2023-02-06  0.164188  0.403173  0.377916
2023-02-07  0.826586  0.623671  0.842888
2023-02-08  0.717428  0.262326  0.643940
2023-02-09  0.248051  0.554417  0.332143
2023-02-10  0.395609  0.224042  0.809509

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [27]:
import pandas as pd

In [28]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [29]:
df = pd.DataFrame(lists, columns = ['col_0', 'col_1','col_2'])

In [30]:
print(df)

   col_0 col_1  col_2
0      1   aaa     22
1      2   bbb     25
2      3   ccc     24